@model DAPIngenieria.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Eliminar Usuario</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NombreUsuario)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.NombreUsuario)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Contraseña)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Contraseña)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Rol)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Rol)
                    </dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group text-center">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-lg" />
                    </div>
                </form>

                <div class="form-group text-center mt-3">
                    <a asp-action="Index" class="btn btn-link">Volver a la lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

